ch04/BookCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://cs.skuniv.ac.kr/xml/hjh"
		xmlns:target="http://cs.skuniv.ac.kr/xml/hjh"
		elementFormDefault="qualified">
	<element name="BookCatalog">
		<complexType>
			<sequence>
				<element name="Book" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="Title" type="string"/>
							<element name="Author" type="string"/>
							<element name="Year" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>